<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<bean class="com.springcore.entities.Student" name="student1">
		<property name="id">
			<value>1</value>
		</property>
		<property name="name">
			<value>Sawan Meshram</value>
		</property>
		<property name="address">
			<value>Wadi, Nagpur</value>
		</property>
	</bean>
	
	<!-- second student -->
	<bean class="com.springcore.entities.Student" name="student2">
		<property name="id" value="2" />
		<property name="name" value="Jackie Meshram" />
		<property name="address" value="Wadi, Nagpur" />
	</bean>

	<!-- p schema means property schema -->
	<bean class="com.springcore.entities.Student" name="student3" p:id="3" p:name="Swapnil Meshram" p:address="Wadi, Nagpur" />

	<bean class="com.springcore.entities.Student" id="student4" p:id="4" p:name="Aradhana Meshram" p:address="Wadi, Nagpur" />

</beans>